* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-left: #65dfc9;
  --bg-right: #6cdbeb;
  --transparent: 255, 255, 255;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, var(--bg-left), var(--bg-right));
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(1.5rem);
  display: flex;
}

.circle1,
.circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );

  height: 18rem;
  width: 18rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.user > img {
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
}

.dashboard {
  flex: 1; /* takes up all the space that is left, - minus the other element there */
}

.games {
  flex: 2; /* can take up twice the space of the dashboard; if flex 1 --Now the space will be split equally since they are from the glass component*/
}
